*{
	margin: 0;
	padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
body{
    color:white;
    background: black;
}
hr{
    display: block;
    height: 1px;
    border:0;
    border-top: 1px solid #ccc;
    margin: 5px 0px 5px 0px;
}
.container{
    position: relative;
    width: auto;
    }
.column{
	float: left;
    width: auto;
    box-sizing: border-box;
   	padding: 2px;
    border-radius: 15px 15px 15px 15px;
    }
.games, #addGame, label{
    margin: 5px 1px 5px 5px;
    padding: 5px;
    background: transparent;
    color: white;
    border-radius: 15px 15px 15px 15px;
    text-shadow: -1px -1px 1px #33cccc,
             0px 4px 1px #334fcc,
             4px 4px 5px rgba(85, 184, 175, 0.7),
             0px 0px 7px #33cccc;
    font-size: 20px;
}
h1{
    text-align:center;
    text-shadow: -1px -1px 1px #33cccc,
             0px 4px 1px #334fcc,
             4px 4px 5px rgba(85, 184, 175, 0.7),
             0px 0px 7px #33cccc;
    font-size: 36px;
}